@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
    background: $background;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
}




.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: $background;
  color: $dark;
  border: 1px solid $dark;
}

.btn--outline {
  color: $dark;
  padding: 8px 20px;
  border: 1px solid $dark; 
  transition: all 0.3s ease-out;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-indent: 2px;
  text-transform: capitalize;
  font-feature-settings: 'pnum' on, 'onum' on;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: $dark; 
  color: $background;

}

.mt-15 {
  margin-top: 15px;
}
